.card {
    height: 200px;
    width: 300px;
    background-color: #eee;
    margin: 3rem auto;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .3rem;
    
}

.flexCard {
    text-align: center;
}

h4 {
    margin-top: 2rem;
}